.page-centered-element {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.content {
    text-align: center;
  
    .buttons-container {
      margin-top: 30px;
    }
}

.background-video{position:absolute;top:0;left:0;height:100%;width:100%;object-fit:cover}

.lower-content {
    position: absolute;
    bottom: 0;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    margin-bottom: 25px;
}

ion-button{
    text-transform: none;
}

.ion-full-screen{
    background-color: #fff;
}

.gtop-link{
    color: #fff;
}