<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>New Device</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Device Info</ion-label>
      </ion-item-divider>

      <ion-item button detail="false" (click)="showPicker('products')">
        <ion-label position="stacked">Product Name <ion-text color="danger">*</ion-text></ion-label>
        <ion-input readonly>{{ product_name }}</ion-input>
      </ion-item>
        
      <ion-item>
        <ion-label position="stacked">Customer's Phone <ion-text color="danger">*</ion-text></ion-label>
        <ion-input [(ngModel)]="customer_phone" type="tel"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">GPS-ACC-ID <ion-text color="danger">*</ion-text></ion-label>
        <ion-input min="2" [(ngModel)]="imei" type="tel"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">GPS SIM <ion-text color="danger">*</ion-text></ion-label>
        <ion-input [(ngModel)]="gps_sim" type="tel"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Vehicle Name <ion-text color="danger">*</ion-text></ion-label>
        <ion-input [(ngModel)]="vehicle_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Plate Number</ion-label>
        <ion-input [(ngModel)]="plate"></ion-input>
      </ion-item>

      <ion-item-divider>
        <ion-label>Sale Info</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label position="stacked">Price ($) <ion-text color="danger">*</ion-text></ion-label>
        <ion-input [(ngModel)]="sale_price" (ionBlur)="priceChange()"></ion-input>
      </ion-item>

      <ion-item button (click)="showPicker('expiration')">
        <ion-label position="stacked">Expiration <ion-text color="danger">*</ion-text></ion-label>
        <ion-input>{{ expiration_name }}</ion-input>
      </ion-item>

      <ion-item-divider>
        <ion-label>Permission</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label>Geolocation</ion-label>
        <ion-toggle [(ngModel)]="module_geolocation" (click)="togglePermission($event)"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>History</ion-label>
        <ion-toggle [(ngModel)]="module_history" (click)="togglePermission($event)"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Engine</ion-label>
        <ion-toggle [(ngModel)]="module_engine" (click)="togglePermission($event)"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Device</ion-label>
        <ion-toggle [(ngModel)]="module_device" (click)="togglePermission($event)"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Ignition</ion-label>
        <ion-toggle [(ngModel)]="module_ignition" (click)="togglePermission($event)"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Parking</ion-label>
        <ion-toggle [(ngModel)]="module_parking" (click)="togglePermission($event)"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Trip</ion-label>
        <ion-toggle [(ngModel)]="module_trip" (click)="togglePermission($event)"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Oil Maintenance</ion-label>
        <ion-toggle [(ngModel)]="module_oil" (click)="togglePermission($event)"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Tire Maintenance</ion-label>
        <ion-toggle [(ngModel)]="module_tire" (click)="togglePermission($event)"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Speed</ion-label>
        <ion-toggle [(ngModel)]="module_speed" (click)="togglePermission($event)"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Summary</ion-label>
        <ion-toggle [(ngModel)]="module_summary" (click)="togglePermission($event)"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Icon</ion-label>
        <ion-toggle [(ngModel)]="module_icon" (click)="togglePermission($event)"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Geofence</ion-label>
        <ion-toggle [(ngModel)]="module_geofence" (click)="togglePermission($event)"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Polygonfence</ion-label>
        <ion-toggle [(ngModel)]="module_polygonfence" (click)="togglePermission($event)"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Group</ion-label>
        <ion-toggle [(ngModel)]="module_group" (click)="togglePermission($event)"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Fuel</ion-label>
        <ion-toggle [(ngModel)]="module_fuel" (click)="togglePermission($event)"></ion-toggle>
      </ion-item>
    </ion-item-group>

    <ion-button (click)="create()" expand="block" color="success">CREATE</ion-button>

  </ion-list>
</ion-content>
