<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>Back</ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>New Customer Password</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label position="stacked">Password <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Confirm Password <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="password" [(ngModel)]="password_confirmation"></ion-input>
      </ion-item>

      <ion-button (click)="reset()" expand="block" color="primary">RESET</ion-button>  

    </ion-item-group>
  </ion-list>
</ion-content>
