<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Enter new password</ion-label>
      </ion-item-divider>

      <ion-item button detail="false">
        <ion-label position="stacked">New Password <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="password" [(ngModel)]="new_password"></ion-input>
      </ion-item>

      <ion-item button detail="false">
        <ion-label position="stacked">Confirm New Password <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="password" [(ngModel)]="confirm_new_password"></ion-input>
      </ion-item>
  
      <ion-button (click)="reset()" expand="block" color="primary">RESET</ion-button>  

    </ion-item-group>
  </ion-list>

</ion-content>
