<ion-content>
  <ion-list>
    <ion-item button detail="false" (click)="edit()">
      <ion-icon name="create-outline"></ion-icon> &nbsp; &nbsp;
      <ion-label class="ion-text-wrap">Edit</ion-label>
    </ion-item>
    <ion-item button detail="false">
      <ion-icon name="lock-open-outline"></ion-icon> &nbsp; &nbsp;
      <ion-label class="ion-text-wrap">Reset Password</ion-label>
    </ion-item>
    <ion-item button detail="false" (click)="confirmDelete()">
      <ion-icon name="trash-outline"></ion-icon> &nbsp; &nbsp;
      <ion-label class="ion-text-wrap">Remove Role</ion-label>
    </ion-item>
  </ion-list>
</ion-content>