<ion-content>
  <ion-list>
    <ion-item button detail="false" (click)="block()">
      <ion-icon name="warning-outline"></ion-icon> &nbsp; &nbsp;
      <ion-label class="ion-text-wrap">Block</ion-label>
    </ion-item>
    <ion-item button detail="false" (click)="edit()">
      <ion-icon name="create-outline"></ion-icon> &nbsp; &nbsp;
      <ion-label class="ion-text-wrap">Edit</ion-label>
    </ion-item>
    <ion-item button detail="false" (click)="resetPassword()">
      <ion-icon name="lock-open-outline"></ion-icon> &nbsp; &nbsp;
      <ion-label class="ion-text-wrap">Reset Password</ion-label>
    </ion-item>
    <ion-item button detail="false" (click)="confirmDelete()">
      <ion-icon name="trash-outline"></ion-icon> &nbsp; &nbsp;
      <ion-label class="ion-text-wrap">Delete</ion-label>
    </ion-item>
  </ion-list>
</ion-content>