<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Staff Detail</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Staff Info</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input readonly>{{ name }}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Phone</ion-label>
        <ion-input readonly>{{ phone }}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Gender</ion-label>
        <ion-input readonly>{{ gender }}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Date of Birth</ion-label>
        <ion-input readonly>{{ dob }}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input readonly>{{ email }}</ion-input>
      </ion-item>

    </ion-item-group>
  </ion-list>
</ion-content>
