<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Create Staff</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Staff Info</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label position="stacked">Name <ion-text color="danger">*</ion-text></ion-label>
        <ion-input [(ngModel)]="name"></ion-input>
      </ion-item>
        
      <ion-item>
        <ion-label position="stacked">Phone <ion-text color="danger">*</ion-text></ion-label>
        <ion-input [(ngModel)]="phone" type="tel"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Gender <ion-text color="danger">*</ion-text></ion-label>
        <ion-input min="2" [(ngModel)]="gender" type="tel"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Date of Birth</ion-label>
        <ion-input [(ngModel)]="dob" type="tel"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input [(ngModel)]="email"></ion-input>
      </ion-item>
      
    </ion-item-group>

    <ion-button (click)="create()" expand="block" color="success">CREATE</ion-button>

  </ion-list>
</ion-content>
